.close-modal-icon{
    color: red;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.modal{
    position: fixed;
    z-index: 1;
    padding-top: 150px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(240, 188, 98);
}

.modal-content{
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid red ;
    width: 80%;
    animation-name: animateModal;
    animation-duration: 0.5s;
}

.footer{
    margin-bottom: 20px;
    color: rgb(126, 218, 230);
}

.header{
    padding: 4px 16px;
    color: rgb(136, 87, 241);
}

.body{
    height: 200px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: bold;
    color: rgb(36, 154, 238);
    padding: 20px;
    padding-left: 60px;
}

@keyframes animateModal{
    from{
        top: -200px;
        opacity: 0;

    }
    to{
        top: 0px;
        opacity: 1;
    }
}