.ticTacToeContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
       height: 100vh;
      
}


.square{
    border: 1px solid red;
    float: left;
    font-size: 40px;
    height: 100px;
    padding: 0px;
    text-align: center;
    width: 100px;
    margin-right: -10px;
    margin-top: -10px;
    cursor: pointer;
}

.restartBtn{
    padding: 5px;
    width: 100px;
}
