.wrapper{
    padding: 8px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.heading{
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
}

.tab-item{
    display: inline-flex;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding: 10px 15px;
    cursor: pointer;
    border: none;
    color: white;
    background-color: #4e016a;

}

.active{
    border-color: black;
    background-color: #a1d600;
    color: white;
}